body{
    background-color: #DEFCF7;
}
a.text-decoration{
    text-decoration: none;
    color: rgb(148, 65, 21);
    font-family: 'Marck Script', cursive;
    position: relative;
}
a.pages {
    text-decoration: none;
    color: midnightblue
}

a.text-decoration:after {
    background-color: #313131;
    display: block;
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
a.text-decoration:hover:after,
a.text-decoration:focus:after {
    width: 100%;
}

a.text-decoration:hover {
    color: black;
  }
  #wrap{
	clear: both;
}
.alegreya{
    font-family: 'Alegreya', serif;
}
.pop{
    margin-left: auto;
    margin-right: auto;
    width: 10em
}
.pagination {
    text-align: center;
    list-style: none;
    display: inline-block;
    padding: 0;
    margin-top: 10px;
  }
  .pagination li {
    display: inline;
    text-align: center;
  }
  .pagination a {
    font-size: 21px;
    text-decoration: none;
    padding: 5px 12px;
    color: black;
    margin-left: -1px;
    border: 1px solid transparent;
    line-height: 1.5;

  }
  .pagination a.active {
    cursor: default;
  }
  .pagination a:active {
    outline: none;
  }
  .modal-3 a {
    display: inline-block;
    margin-left: 3px;
    padding: 0;
    width: 30px;
    height: 2px;
    line-height: 30px;
  }
  .modal-3 a:hover {
    background-color: blue;
  }
  .modal-3 a.active, .modal-3 a:active {
    background-color: lightslategrey;
  }